body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
header{
	background-color: #FC7511;
}
/*top header*/
header .top-header{
	padding: 5px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
header .top-header > .container > .row > .col-md-6{
	padding-left: 8px;
}
header .top-header .top-header-left{
	list-style-type: none;
	padding-left: 0;
}
header .top-header .top-header-left li{
	display: block;
	float: left;
	margin-left: 10px;
}
header .top-header .top-header-left li a,.top-header-right li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
header .top-header .top-header-left li:hover a,.top-header-right li:hover a{
	color: orange;
}
header .top-header .top-header-right{
	margin: 0;
	text-align: right;

}
header .top-header .top-header-right li{
	display: inline-block;
}
header .top-header .top-header-right li:not(:first-child){
	border-left: 1px solid rgba(255,255,255,0.1);
	margin-left: 5px;
	padding-left: 7px;
}

header .top-header .top-header-right li:first-child{
	position: relative;
	padding: 3px;
}
header .top-header .top-header-right li:hover:first-child .sub-top-header-right{
	display: block;
}
header .top-header .top-header-right li:hover:first-child .arrow-up{
	border-bottom: 5px solid white;
}
header .top-header .top-header-right .sub-top-header-right{
	position: absolute;
	z-index: 300;
	top: 27px;
	left: 0;
	min-width: 200px;
	border: 1px solid #fd9243;
	background: white;
	box-shadow: 0 6px 12px 0;
	text-align: center;
	padding: 10px;
	display: none;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FC7511;
	position: absolute;
	z-index: 400;
	left: 30px;

}
header .top-header .top-header-right .sub-top-header-right li{
	display: block;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
}
header .top-header .top-header-right .sub-top-header-right li a{
	color: black;
	padding: 7px 10px;
	background-color: #f7f7f7;
	display: block;
	margin-bottom: 10px;
	border-radius: 4px;
}
header .top-header .top-header-right .sub-top-header-right li:hover a{
	background-color: orange;
	color: white;
}
/*mid header*/
.mid-header{
	padding: 7px 0;
}
.mid-header > .container >.row > .col-md-3 img{
	width: 100%;
}
.mid-header > .container >.row > .col-md-4 form{
	position: relative;
	padding: 12px 0;
}
.mid-header > .container >.row > .col-md-4 form input{
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
	height: 38px;
	padding: 0 20px;
}
.mid-header > .container >.row > .col-md-4 form span{
	position: absolute;
	right: 0;
}
.mid-header > .container >.row > .col-md-4 form span button{
	border:1px solid white;
	background-color: #fc7511;
	color: white;
	border-radius: 5px;
}
.mid-header > .container >.row > .col-md-5{
	padding: 10px 0;
}
.mid-header > .container >.row > .col-md-5 .media{
	background-color: #D75D03;
	border-radius: 10px;
	padding: 1px 5px;
	width: 144px;
	margin-right: 5px;
	border: 1px solid transparent;
	color: white;
	font-weight: bold;
}
.mid-header > .container >.row > .col-md-5 .media:hover{
	border:1px solid white;
}
.mid-header > .container >.row > .col-md-5 .mid-header-right{
	float: right;
}
.mid-header > .container >.row > .col-md-5 .media i{
	margin-top: 13px;
	margin-left: 5px;
	font-size: 15px;
}

.mid-header > .container >.row > .col-md-5 .media .media-body {
	padding: 5px 0;
}
.mid-header > .container >.row > .col-md-5 .media .media-body a{
	font-size: 14px;
	color: white;
	text-decoration: none;
}
.mid-header > .container >.row > .col-md-5 .media .media-body span{
	font-size: 12px;
}
/*navigation*/
nav{
	background-color: #0EA5E5;	
	width: 100%;
	list-style-type: none;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li{
	float: left;
	display: block;
	align-self: center;
}
nav  a {
	display: inline-block;
	color: white ;
	padding: 15px 10px;
	text-decoration: none !important;
	font-weight: bold;
}
nav .main-nav{
	background-color: #D75D03;
	width: 25%;
}
nav .main-nav > li{
	width: 100%;
	height:51px;
	position: relative;
}

nav .main-nav > li a{
	font-size: 16px;
}

.nav > li:hover > a,.main-nav > li:hover a{
	color: white ;
}
.main-nav > .active{
	background-color: #D75D03;
}
#dropdown::after {
	font-family: "Font awesome 5 Free";
	content: "\f107";
	font-weight: 900;
	margin-left: 10px;
}
/*sub main navigation*/
.main-nav .sub-nav {
	display: none;
}
.main-nav > li:hover >.sub-nav{
	display: block;
	background-color: white;
	border:1px solid #FC7511;
	position: absolute;
    top: 51px;
	width: 100%;
	z-index: 500;
}
.main-nav .sub-nav li{
	display: block;
	width: 100%;
	clear: both;
}
.main-nav .sub-nav li a{
	padding: 10px 5px;
	display: block;
	color: black;
}
.main-nav .sub-nav li a::after{
	font-family: "Font awesome 5 Free";
	content: "\f054";
	font-weight: 900;
	margin-left: 10px;
	position: absolute;
	right: 10px;
}
.main-nav .sub-nav > li:hover > a {
	text-decoration: none;
	color: black;
	background-color: #FC7511;
    display: block;
}

/*sub navigation*/
.nav >li {
	position: relative;
}
.nav .sub-nav {
	display: none;

}
.nav > li:hover >.sub-nav{
	display: block;
	background-color: white;
	box-shadow: 5px 10px 20px rgb(0,0,0);
	position: absolute;
    top: 51px;
	width: 200px;
	z-index: 500;
}
.nav .sub-nav li{
	display: block;
	width: 100%;
	clear: both;
	border-bottom: 1px solid #f7f7f7;
}
.nav .sub-nav li a{
	padding: 10px 5px;
	display: block;
	color: black;
}
.nav .sub-nav > li:hover > a {
	text-decoration: none;
	color: orange;
    display: block;
}
/*header slider*/
header .container-fluid{
	background-color: white;
}
#carouselExampleCaptions a .carousel-control-prev-icon,#carouselExampleCaptions a .carousel-control-next-icon{
	padding: 30px 20px;
	background-color: #ccc;
	border-radius: 8px;
}
#carouselExampleCaptions ol li{
	height: 10px;
	width: 10px;
	padding: 5px 5px;
	border-radius: 50%;
}
#carouselExampleCaptions ol .active{
	width: 30px !important;
	width: 10px;
	border-radius: 36%;
	background-color: orange;
}
/*top main*/
main .main_title h2{
	display: block;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid #eee;
	padding-bottom: 12px;
	margin-bottom: 14px;
	position: relative;
	text-decoration: none;
	margin-top: 20px;
}
main .main_title h2::after{
	content: "";
	position: absolute;
	background: #fc7511;
	width: 100px;
	height: 2px;
	left: 46%;
	bottom: 0;

}
main .main_title h2 a{
	color: #222;
	text-decoration: none;

}
main .main_title a:hover{
	color: orange;
}

	/*product sample*/
section .product{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}
section .product .img-holder{
	position: relative;
	margin-bottom: 10px;
}
section .product .img-holder .discount{
	font-weight: bold;
	background-color: #ED3F46;
	color: white;
	padding: 5px 7px;
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 20px;
}
section .product .img-holder .discount p{
	margin-bottom: 0;
}
section .product img{
	width: 100%;
	height: auto;

}
section .product a{
	text-decoration: none;
}
section .product h5{
	font-weight: bold;
	font-size: 14px;
	color: black;
}
section .product .price-old{
	text-decoration: line-through;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
}
section .product .price-new{
	font-size: 14px;
	color: #fc7511;
	margin-left: 5px;
	font-weight: bold;
}
section .product .product-info{
	position: relative;
	min-height: 80px;
	text-align: center;
}
.overlay{
	position: absolute;	
	width: 0;
	height: 100%;
	top: 0;
	right: 0;
	background-color: white;
	transition: 0.5s;
	overflow-x: hidden;
	overflow: hidden;
} 
.overlay-content{
	text-align: center;
	list-style-type: none;
	position: relative;
	top:  5px;
	padding: 0;
}
.overlay-content .buy-product{
	color: white;
	background-color: #FF6600;
	border-radius: 16px;
	font-weight: bold;
}
.overlay-content .find-product{
	color: red;
	border: 1px solid #FF6600;
	border-radius: 50%;
}
	/*end product sample*/
	/*produc mid-main*/
section .title-box{
	background-color: #F7F7F7;
	width: 100%;
	margin-bottom: 10px;
}
section .title-box .title{
	float: left;
	position: relative;
}
.mid-main-2 .title-box h5{
	background-color: #21242B;
}
section .title-box h5{
	background-color: #FFCE07;
	padding: 6px 15px;
	width: 75%;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}
.mid-main-1 .container .col-12 .col-6,.mid-main-2 .container .col-12 .col-6{
	padding: 0 5px;
}
section .title-box .title-box-right{
	text-align: right;
	padding: 8px 30px;
}
section .title-box .title-box-right ul{
	list-style-type: none;
	margin-bottom: 0;
}
section .title-box .title-box-right ul li{
	display: inline-block;
	margin-right: 5px;
}
section .title-box .title-box-right ul li:last-child a{
	font-weight: bold;
}
section .title-box .title-box-right ul a{
	color: black;
	text-decoration: none;
}
section .title-box .title-box-right ul li:hover a{
	color: orange;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFCE07;
	position: absolute;
	top: 10px;
	left: 73.3%;
}
.mid-main-2 .arrow-right{
	border-left: 10px solid #21242B;
}
.img-holder img{
	width: 100%;
	height: auto;
}

/*news*/
article .img-holder{
	width: 100%;
	height: auto;
}
article .img-holder span{
	width: 1000px;
	height: 1000px;
	background: orange;
	z-index: 600;
}
article .info a{
	color: black ;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	max-height: 38px;
	min-height: 38px;
}
article .info .post-time{
	color: #999;
	padding: 3px 0;
}
article .container .col-md-3:hover .haunted-img{
	 animation: haunted 2s infinite;
}
article .container .col-md-3:hover .info a{
	color: orange;
}

@keyframes haunted {
  0% {
    filter: brightness(20%);
  }
  48% {
    filter: brightness(20%);
  }
  50% {
    filter: sepia(1) contrast(2) brightness(200%);
  }
  96% {
    filter: brightness(400%);
  }
}

/*top-footer*/
.top-footer-2{
	padding: 7px 0;
	background-color: #FC7511;
}
.top-footer-2 > .container >.row .header-holder{
	padding-top: 15px;
}
.top-footer-2 > .container >.row .header-holder h4{
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.top-footer-2 > .container >.row > .col-md-6 form{
	position: relative;
	padding-top: 6px;
}
.top-footer-2 > .container >.row > .col-md-6 form input{
	width: 100%;
	border: 1px solid white;
	height: 38px;
	padding: 0 20px;
}
.top-footer-2 > .container >.row > .col-md-6 form span{
	position: absolute;
	right: 0;

}
.top-footer-2 > .container >.row > .col-md-6 form span button{
	border:1px solid white;
	background-color: #21242B;
	color: white;
}
footer .top-footer-2 .top-footer-right{
	list-style-type: none;
	padding-top: 13px;
}
footer .top-footer-2 .top-footer-right li{
	display: block;
	float: right;
	padding: 0 5px; 
}
footer .top-footer-2 .top-footer-right li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
footer .top-footer-2 .top-footer-right li:hover a{
	color: #21242B;
}
/*mid-footer*/
.mid-footer{
	padding-top: 25px;
	padding-bottom: 10px;
}
.mid-footer .mid-footer-header{
	padding: 13px 0;
}
.mid-footer .mid-footer-header h5{
	font-weight: bold;
}
.mid-footer .mid-footer-info a{
	text-decoration: none;
	color: black;
}
.mid-footer .mid-footer-info a:hover{
	color: orange;
}
/*bottom-footer*/
.bottom-footer{
	background-color: #0F0F0F;
	text-align: center;
	padding: 10px 0;
}
.bottom-footer p{
	color: #ccc;
	margin-bottom: 0;
}
.bottom-footer a{
	color: #ccc;
	text-decoration: none;
}
.bottom-footer a:hover{
	color: orange;
}